@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #061206;
}
h2 
{ 
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 10px 5px #ff2770,
    0 10px 15px #ff2770;
}
.stylish-text {
    opacity: 0;
    animation: fadeIn 2.5s ease-out forwards;    
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .text-transition:hover {
    opacity: 1;
  }

.card
{
    position: relative;
    display: flex;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 380px;
    background: var(--clr1);
    box-shadow: 0 0 0 5px #0009,
    0 10px 65px var(--clr1);
    transition: 0.35s;
}
.card:hover
{
    background: var(--clr2);
    box-shadow: 0 0 0 5px #0009,
    0 10px 45px var(--clr2),
    0 10px 95px var(--clr2);
}
.card h2
{
    font-size: 1.5em;
    text-align: center;
    line-height: 3em;
    scale: 0;
    transition: 0.25s;
}
.card:hover h2
{
    scale: 1;
}
.card h2 b
{
    font-size: 2em;
}
.card .clip
{
    position: absolute;
    inset: 5px;
    box-shadow: 0 0 0 2px #061206;
    border-radius: 4%;
}
.card .clip span
{
    position: absolute;
    inset: 0;
    background: #020d1e;
    transition: 0.50s;
    z-index: 1;
    border-radius: 4%;
}
.card .clip span:nth-child(1)
{
    clip-path: polygon(0 5%, 0 95%, 50% 50%);
}
.card .clip span:nth-child(2)
{
    clip-path: polygon(95% 0, 5% 0, 50% 50%);
}
.card .clip span:nth-child(3)
{
    clip-path: polygon(100% 95%, 100% 5%, 50% 50%);
}
.card .clip span:nth-child(4)
{
    clip-path: polygon(5% 100%, 95% 100%, 50% 50%);
}
.card:hover .clip span:nth-child(1)
{
    clip-path: polygon(0 0, 0 100%, 10% 50%);
} 
.card:hover .clip span:nth-child(2)
{
    clip-path: polygon(100% 0, 0% 0, 50% 10%);
}
.card:hover .clip span:nth-child(3)
{
    clip-path: polygon(100% 100%, 100% 0%, 90% 50%);
}
.card:hover .clip span:nth-child(4)
{
    clip-path: polygon(0% 100%, 100% 100%, 50% 90%);
}